DATABASE_URL="postgresql://postgres:postgres@localhost:5432/multitenant?schema=public"
ROOT_DOMAIN=lvh.me
PUBLIC_URL=
SERVER_IP=
API_PORT=9097
WEB_PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/multitenant?schema=public"
ROOT_DOMAIN=lvh.me
PUBLIC_URL=
SERVER_IP=
API_PORT=9097
WEB_PORT=3000

